@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Speech Language Pathologists (SLPs) are people who work to assess, diagnose and treat those with language, social communication,
    cognitive communication, and swallowing disorders in children and adults.</p>
<br />
<p>This particualr site is for SLPs to keep track of their case load of students when working in schools. Not only can SLPs access, 
    the particular student information, but the Teachers that are on the student's Independent Education Plan (IEP), and the SLP's 
    manager as well. This makes it easy for the schools to keep track of students who need speech therapy, as well as for the SLP's
    to keep track of the schools that they service and the students that they provide speech therapy for.</p>
<br />
<p>If you or a loved one have questions or concerns about speech therapy or the services that we are providing, please visit our contact
    page or one of the links below for more information.</p>

<div>
    @Html.ActionLink("Contact Us", "Contact")
</div>

