@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SLP Organizer</h1>
    <p class="lead">Keep your students organized with this unique student tool.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ASHA</h2>
        <p>
            Keep up to date with the latest in ASHA news and certifications.
        </p>
        <p><a class="btn btn-default" href="https://www.asha.org/slp/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more games/learning tools</h2>
        <p>Need more fun learning tools to help teach your kids communication skills? Look no further than TeachersPayTeachers.</p>
        <p><a class="btn btn-default" href="https://www.teacherspayteachers.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Parent Resources</h2>
        <p>When to know to take your child to a speech therapist to get assessed.</p>
        <p><a class="btn btn-default" href="https://speechpathologymastersprograms.com/parent-resources/">Learn more &raquo;</a></p>
    </div>
</div>